// color 
$blue: #4A90E2;
$blue-dark: #00408B;
$red: #d0021b;
$orange: #F5A623;
$orange-light: #FFF2DC;
$gray-light: #F2F2F2;
$gray-medium: #C8C8C8;
$gray-dark: #757575;
$white: #ffffff;
$black: #000000;
$bg-gray: #E1E1E1;

// font size
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-placeholder: 16px;

// font family
$font-family-title: "Roboto-Medium";
$font-family-subtitle: "Roboto-Medium";
$font-family-paragraph: "Roboto-Regular";
$font-family-remark: "Roboto-Regular";
$font-family-placeholder: "Roboto-Regular";
$font-family-status: "Roboto-Italic";

// breakpoint
$md: 620px;

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    // font-family: $font-family-paragraph, Helvetica, Arial, sans-serif;
}

p {
    font-size: 16px;
}

input {
    border: none;

    &:hover, &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: $font-family-placeholder;
        color: $gray-medium;
    }
}

button {
    cursor: pointer;
    &:hover, &:focus {
        outline: none;
    }
}

.modal-add {
    margin-bottom: 24px;
}